<!DOCTYPE html>
<html>
  <head>
    <title>detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1><%= note.title%></h1>
    <p><%= note.content%></p>
  </body>
</html>
